<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AnonymousHippo.Palette">
    <!-- INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GalleryInfoActivity"></activity>
        <activity android:name=".EditMyProfileActivity" />
        <activity android:name=".SearchListActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".AskActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".QuitActivity" />
        <activity android:name=".FindPasswordActivity" />
        <activity android:name=".DeveloperActivity" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".NoInternetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetInterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivatePrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>